.login-btn {
  margin-right: 5px;
}
.register-btn {
  margin-left: 5px;
}
.container {
  max-width: 960px;
}
.pricing-header {
  max-width: 700px;
}
.slide-pricing-header {
  max-width: 1080px;
  max-height: 500px;
}
hr {
  margin-bottom: 3rem;
}
hr.style {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    text-align: center;
}
hr.style-class::after {
  content: "常態課程";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.875em;
  padding: 0 0.375em;
  background: white;
}
hr.style-camp:after {
    content: "寒暑假夏令營";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.875em;
    padding: 0 0.375em;
    background: white;
}
